*{
    box-sizing: content-box;
}

.container{
    display:flex;
    flex-flow: row wrap;
    max-width: 960px;
    gap:5px;
    margin:2em;
}

.default{
    height:50px;
    width:50px;
    border:5px solid black;
}


.percent0{
    background-color: rgba(255,284,122,0);
}

.percent100{
    background-color: rgba(255,284,122,1);
}